app/drs-single-operation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SOAP"
  targetNamespace="http://autogenerated.OTWebServiceApi.xmbrace.com/"
  xmlns:tns="http://autogenerated.OTWebServiceApi.xmbrace.com/"
  xmlns:ns1="http://autogenerated.OTWebServiceApi.xmbrace.com/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:tns="http://autogenerated.OTWebServiceApi.xmbrace.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="XmbCheckAvailability" type="tns:xmbCheckAvailability"/>
      <xs:element name="XmbCheckAvailabilityResponse" type="tns:xmbCheckAvailabilityResponse"/>
      <xs:complexType name="entity">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="command">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element default="0" name="id" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="resource">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element name="externalResourceCode" type="xs:string"/>
              <xs:element name="isResourceLocked" type="xs:boolean"/>
              <xs:element name="lockResource" type="xs:boolean"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="primaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceID" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceName" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theAbilities" type="tns:ability"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theSectors" type="tns:sector"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theUnavailabilities" type="tns:unavailability"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theWorkingHours" type="tns:workingHour"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ability">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="availablePeriods" type="tns:availablePeriod"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="resourceTemplate" type="xs:string"/>
              <xs:element minOccurs="0" name="type" type="xs:string"/>
              <xs:element minOccurs="0" name="value" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="values" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="availablePeriod">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="availableDays" type="tns:availableDay"/>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="availableDay">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="dayType" type="tns:dayOfWeek"/>
              <xs:element minOccurs="0" name="endTime" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="businessData">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="targetObject" type="tns:objectType"/>
              <xs:element minOccurs="0" name="value" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sector">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="country" type="xs:string"/>
              <xs:element minOccurs="0" name="latitude" type="xs:string"/>
              <xs:element minOccurs="0" name="longitude" type="xs:string"/>
              <xs:element minOccurs="0" name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="postCode" type="xs:string"/>
              <xs:element minOccurs="0" name="priority" type="tns:sectorPriority"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="unavailability">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginDateTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="comments" type="xs:string"/>
              <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="reason" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="workingHour">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="dayOfWeek" type="xs:string"/>
              <xs:element minOccurs="0" name="effectiveEndDate" type="xs:string"/>
              <xs:element minOccurs="0" name="effectiveStartDate" type="xs:string"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="endPostCode" type="xs:string"/>
              <xs:element minOccurs="0" name="lunchBreakBeginDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="lunchBreakEndDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="specificDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="startPostCode" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="commandResponse">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="debugStackTrace" type="xs:string"/>
              <xs:element minOccurs="0" name="errorMsg" type="xs:string"/>
              <xs:element default="0" name="id" type="xs:int"/>
              <xs:element minOccurs="0" name="status" type="tns:responseStatus"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="booking">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="assignedEnd" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="assignedStart" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="bookingCategory" type="xs:string"/>
              <xs:element minOccurs="0" name="bookingCompletionStatus" type="xs:string"/>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element minOccurs="0" name="bookingLifeCycleStatus" type="tns:transactionTypeType"/>
              <xs:element default="first" name="bookingReason" type="xs:string"/>
              <xs:element name="contract" type="xs:string"/>
              <xs:element name="duration" type="xs:int"/>
              <xs:element name="isEmergency" type="xs:boolean"/>
              <xs:element name="isNextBooking" type="xs:boolean"/>
              <xs:element name="locationID" type="xs:string"/>
              <xs:element minOccurs="0" name="operatorComments" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="plannerComments" type="xs:string"/>
              <xs:element name="planningWindowEnd" type="xs:dateTime"/>
              <xs:element name="planningWindowStart" type="xs:dateTime"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="secondaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="template" type="xs:string"/>
              <xs:element minOccurs="0" name="tertiaryOrderNumber" type="xs:string"/>
              <xs:element maxOccurs="unbounded" name="theBookingCodes" type="tns:bookingCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOtherBookingsForThisOrder" type="tns:booking"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResources" type="tns:resource"/>
              <xs:element minOccurs="0" name="tokenId" type="xs:string"/>
              <xs:element minOccurs="0" name="uniqueBookingId" type="xs:string"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="bookingCode">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="bookingCodeDescription" type="xs:string"/>
              <xs:element name="bookingCodeSORCode" type="xs:string"/>
              <xs:element name="bookingId" type="xs:int"/>
              <xs:element minOccurs="0" name="comments" type="xs:string"/>
              <xs:element name="itemNumberWithinBooking" type="xs:string"/>
              <xs:element minOccurs="0" name="itemValue" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element name="quantity" type="xs:string"/>
              <xs:element minOccurs="0" name="reference" type="xs:string"/>
              <xs:element minOccurs="0" name="standardMinuteValue" type="xs:string"/>
              <xs:element minOccurs="0" name="trade" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="order">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="contactName" type="xs:string"/>
              <xs:element name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="earliestBookingDate" type="xs:dateTime"/>
              <xs:element name="locationID" type="xs:string"/>
              <xs:element default="false" name="message" type="xs:boolean"/>
              <xs:element name="orderComments" type="xs:string"/>
              <xs:element minOccurs="0" name="orderCommentsExtended" type="xs:string"/>
              <xs:element name="orderId" type="xs:int"/>
              <xs:element minOccurs="0" name="phone" type="xs:string"/>
              <xs:element name="primaryOrderNumber" type="xs:string"/>
              <xs:element name="priority" type="xs:string"/>
              <xs:element minOccurs="0" name="reasonCode" type="xs:string"/>
              <xs:element minOccurs="0" name="secondaryOrderNumber" type="xs:string"/>
              <xs:element minOccurs="0" name="status" type="tns:orderStatus"/>
              <xs:element minOccurs="0" name="subcontract" type="xs:string"/>
              <xs:element name="targetDate" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="tertiaryOrderNumber" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookingCodes" type="tns:bookingCode"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBookings" type="tns:booking"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element name="theLocation" type="tns:location"/>
              <xs:element name="userId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="location">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element name="address1" type="xs:string"/>
              <xs:element minOccurs="0" name="address2" type="xs:string"/>
              <xs:element minOccurs="0" name="address3" type="xs:string"/>
              <xs:element minOccurs="0" name="address4" type="xs:string"/>
              <xs:element minOccurs="0" name="agency" type="xs:string"/>
              <xs:element minOccurs="0" name="areaCode" type="xs:string"/>
              <xs:element minOccurs="0" name="citizenCode" type="xs:string"/>
              <xs:element minOccurs="0" name="citizensName" type="xs:string"/>
              <xs:element minOccurs="0" name="city" type="xs:string"/>
              <xs:element minOccurs="0" name="contract" type="xs:string"/>
              <xs:element minOccurs="0" name="country" type="xs:string"/>
              <xs:element minOccurs="0" name="customerCategory" type="xs:string"/>
              <xs:element minOccurs="0" name="customerType" type="xs:string"/>
              <xs:element default="false" name="excludedFromMsging" type="xs:boolean"/>
              <xs:element minOccurs="0" name="latitude" type="xs:string"/>
              <xs:element name="locationId" type="xs:string"/>
              <xs:element minOccurs="0" name="locationSequenceNo" type="xs:string"/>
              <xs:element minOccurs="0" name="longitude" type="xs:string"/>
              <xs:element minOccurs="0" name="messagingType" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element minOccurs="0" name="number" type="xs:string"/>
              <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
              <xs:element name="postCode" type="xs:string"/>
              <xs:element minOccurs="0" name="street" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theBusinessData" type="tns:businessData"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theLocationLines" type="tns:locationLine"/>
              <xs:element name="workflowType" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="locationLine">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="citizensName" type="xs:string"/>
              <xs:element name="lineCode" type="xs:string"/>
              <xs:element name="lineDescription" type="xs:string"/>
              <xs:element name="locationId" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCheckAvailability">
        <xs:complexContent>
          <xs:extension base="tns:command">
            <xs:sequence>
              <xs:element name="canSelectOtherOrders" type="xs:boolean"/>
              <xs:element minOccurs="0" name="checkAvailType" type="tns:checkAvailTypeType"/>
              <xs:element default="true" name="newBooking" type="xs:boolean"/>
              <xs:element minOccurs="0" name="onlyBestSlots" type="tns:onlyBestSlotsValue"/>
              <xs:element minOccurs="0" name="otherOrderPattern" type="tns:orderPattern"/>
              <xs:element minOccurs="0" name="periodBegin" type="xs:dateTime"/>
              <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="resourceIDs" type="xs:string"/>
              <xs:element name="sessionId" type="xs:string"/>
              <xs:element minOccurs="0" name="theOrder" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDContracts" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="orderPattern">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="bookingStatus" type="tns:transactionTypeType"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="customers" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="xmbCheckAvailabilityResponse">
        <xs:complexContent>
          <xs:extension base="tns:commandResponse">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theOtherOrders" type="tns:order"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDContracts" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theResourceIDs" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="theSlots" type="tns:daySlotsInfo"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="daySlotsInfo">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="day" type="xs:dateTime"/>
              <xs:element default="false" name="nonWorkingDay" type="xs:boolean"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="slotsForDay" type="tns:slotInfo"/>
              <xs:element default="false" name="weeklyDayOff" type="xs:boolean"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="slotInfo">
        <xs:complexContent>
          <xs:extension base="tns:entity">
            <xs:sequence>
              <xs:element minOccurs="0" name="available" type="tns:availableValue"/>
              <xs:element minOccurs="0" name="beginDate" type="xs:dateTime"/>
              <xs:element default="false" name="bestSlot" type="xs:boolean"/>
              <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="dayOfWeek">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="monday"/>
          <xs:enumeration value="tuesday"/>
          <xs:enumeration value="wednesday"/>
          <xs:enumeration value="thursday"/>
          <xs:enumeration value="friday"/>
          <xs:enumeration value="saturday"/>
          <xs:enumeration value="sunday"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="objectType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="customer"/>
          <xs:enumeration value="serviceOrder"/>
          <xs:enumeration value="job"/>
          <xs:enumeration value="worker"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="sectorPriority">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PRIMARY"/>
          <xs:enumeration value="SECONDARY"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="responseStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="success"/>
          <xs:enumeration value="failure"/>
          <xs:enumeration value="error"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="transactionTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PLANNED"/>
          <xs:enumeration value="DESPATCHED"/>
          <xs:enumeration value="RESERVED"/>
          <xs:enumeration value="ACKNOWLEDGED"/>
          <xs:enumeration value="ACCEPTED"/>
          <xs:enumeration value="ARRIVED"/>
          <xs:enumeration value="STARTED"/>
          <xs:enumeration value="COMPLETED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="orderStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="PLANNED"/>
          <xs:enumeration value="STARTED"/>
          <xs:enumeration value="COMPLETED"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="bookingResourceLock">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="lockAsSpecified"/>
          <xs:enumeration value="lockAfterSchedule"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="checkAvailTypeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="standard"/>
          <xs:enumeration value="longPeriod"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="onlyBestSlotsValue">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="no"/>
          <xs:enumeration value="day"/>
          <xs:enumeration value="fullPeriod"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="availableValue">
        <xs:restriction base="xs:string">
          <xs:enumeration value="undefined"/>
          <xs:enumeration value="NO"/>
          <xs:enumeration value="YES"/>
          <xs:enumeration value="MAYBE"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="checkAvailability" type="tns:checkAvailability"/>
      <xs:complexType name="checkAvailability">
        <xs:sequence>
          <xs:element minOccurs="0" name="checkAvailability" type="tns:xmbCheckAvailability"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="checkAvailabilityResponse" type="tns:checkAvailabilityResponse"/>
      <xs:complexType name="checkAvailabilityResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:xmbCheckAvailabilityResponse"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="checkAvailability">
    <wsdl:part element="ns1:checkAvailability" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="checkAvailabilityResponse">
    <wsdl:part element="ns1:checkAvailabilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SOAP">
    <wsdl:operation name="checkAvailability">
      <wsdl:input message="ns1:checkAvailability" name="checkAvailability"/>
      <wsdl:output message="ns1:checkAvailabilityResponse" name="checkAvailabilityResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DRSServiceSOAP" type="tns:SOAP">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkAvailability">
      <soap:operation soapAction="http://localhost:8080/checkAvailability"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DRSService">
    <wsdl:port binding="tns:DRSServiceSOAP" name="DRSServiceSOAP">
      <soap:address location="http://localhost:8080/DRSService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
